
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'myfont';
  src: url('../src/fonts/UrbaneRounded-Light.ttf');
}
@font-face {
  font-family: 'myfont1';
  src: url('../src/fonts/UrbaneRounded-Bold.ttf');
}
@font-face {
  font-family: 'myfont2';
  src: url('../src/fonts/UrbaneRounded-DemiBold.ttf');
}
@font-face {
  font-family: 'myfont3';
  src: url('../src/fonts/UrbaneRounded-Medium.ttf');
}
@font-face {
  font-family: 'Highway';
  src: url('../src/fonts/ElaineKinandhita.ttf');
}
@font-face {
  font-family: 'Petro';
  src: url('../src/fonts/PetrovSans-Black.ttf');
}
@font-face {
  font-family: 'Mintely';
  src: url('../src/fonts/Mintely-Regular.otf');
}
@font-face {
  font-family: 'Simple Michael';
  src: url('../src/fonts/Simple Michael.otf');
}
@font-face {
  font-family: 'Nirpa';
  src: url('../src/fonts/Nirpa.ttf');
}
@font-face {
  font-family: 'Standerd';
  src: url('../src/fonts/Standerd-Regular.otf');
}
@font-face {
  font-family: "Sabliman";
  src: url("../src/fonts/Sublima-ExtraBold.otf");
}
@font-face {
  font-family: "drugs";
  src: url("../src/fonts/TT Drugs Trial Bold.otf");
}
*{
  font-family:'Standerd' ;
}
body {
  margin: 0;
  padding: 0;
  /* font-family: 'Arial', sans-serif; */
  background-color: #ffffff;
}

.titleFont{
  font-family: 'myfont1';
}

.subTitleFont{
  font-family: 'myfont2';
}

.subTitleFont2{
  font-family: 'Simple Michael';
}

.paraFont{
  font-family: 'Standerd';
  /* font-size: larger; */
}
.paraFont2{
  font-family: 'Standerd';
  /* font-size: larger; */
}
.paraFont3{
  font-family: 'drugs';
}
.headfont{
  font-family: "Standerd";
}



.ayurAnim{
  transition: all .2s ease-in-out;
  animation: animate1 ease-in-out 4s infinite;
}
@keyframes animate1 {
  0%{
    top: 0;
  }
  50%{
    transform: translateY(80px);
  }
  100%{
    top: 0;
  } 
}



.text-center {
  text-align: center;
}

.image-slider {
  width: 100vw; 
  height:700px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slider-image {
  width: 100%;
  height: auto;
  display: block;
  /* border-radius: 8px; */
  object-fit: cover;
  object-position: center;
}
.slider-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 3rem;
  z-index: 2; 
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  font-size: 2rem;
}
.about-us {
  background-color: #f9f9f9;
  color: #333;
  padding: 2.5rem 1.5rem;
}

.about-us h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #2f855a;
  text-align: center;
  margin-bottom: 1.5rem;
}

.about-us img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-us p {
  font-size: 1.125rem;
  line-height: 1.75;
  margin-bottom: 1rem;
}
.treatment-bg{
  background: linear-gradient(0deg, rgba(0,0,0,0.8772759103641457) 0%, rgba(253,187,45,0) 100%);
  mix-blend-mode: multiply;
}
.boxShadow{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.bannerTitle{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.banner-title{
  font-family: 'Highway';
}
.demoTitleFont{
  font-family: 'Petro';
}
.ScrollBarDesign::-webkit-scrollbar{
  width: 10px;
  background-color: #ffffff;
}
.ScrollBarDesign::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 255, 255); 
  border-radius: 10px;
}
 
/* Handle */
.ScrollBarDesign::-webkit-scrollbar-thumb {
  background: #DFB260; 
  border-radius: 10px;
}
.testimon{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.leafAnimation{
  transition: all;
  animation: leafAnim 5s infinite;
}
@keyframes leafAnim {
  0%{
    transform: translateX(-5px);
    rotate: 10deg;
  }
  50%{
    transform: translateX(5px);
    rotate: -10deg;
  }
  100%{
    transform: translateX(-5px);
    rotate: 10deg;
  }
}
.no-scrollbar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
.clip-inverted-arch{
  clip-path: circle(100vh at 50% -85vh);
  overflow: hidden;
  position: relative;
  height: 200px;
}
.clip-outverted-arch {
  clip-path:circle(100vh at 50% 85vh);
  position: relative;
  height: 100px; 
  overflow: hidden;
}
.custom-shape-divider-top-1736324321 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1736324321 svg {
  position: relative;
  display: block;
  width: calc(147% + 1.3px);
  height: 55px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1736324321 .shape-fill {
  fill: #b0dcbe;
}
.NavbarHover {
  transition: all .1s ease;
}
li{
  list-style: none;
}
.NavbarHover:hover {
  color: #ff9d00;
}

.active-link {
  color: #ff9d00;
  font-weight: 800;
}
